.full{
margin-left: 1%;
margin-right: 1%;
width: 48%;
}
.Erro-red{
    color: red;
}
.example-right-align {
    text-align: right;
  }
  table {
    width: 100%;
  }
  .marg {
    margin-left: 15px;
    margin-top: 10px;
  }